[submodule "nice-nano-kicad"]
	path = nice-nano-kicad
	url = https://github.com/bstiq/nice-nano-kicad
[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/crides/Keebio-Parts.pretty
[submodule "kleeb"]
	path = kleeb
	url = git@github.com:crides/kleeb
